<header id="user">
    <strong>
        <figure title="Logo">
            <svg viewBox="0 0 24 24"><use href="#logo"></use></svg>
            <figcaption class="sr-only">Logo</figcaption>
        </figure>

        <span>medcross</span>
    </strong>


    <!-- <button type="button" title="Open Theme Menu" id="theme-toggle">
        <svg viewBox="0 0 24 24"><use href="#brush"></use></svg>
    </button> -->

    <nav>

        <button>
            <span class="sr-only">Toggle Menu</span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </button>

        <ul>
            <li><a aria-current="page" href="#">home</a></li>
            <li><a href="#">archive</a></li>
            <li><a href="#">series</a></li>
            <li><a href="#">downloads</a></li>
            <li><a href="#">about</a></li>
        </ul>

    </nav>
</header>