---
import {slashify} from "../../composables/utilities";

const path = slashify(Astro.url.pathname);
---


<header class="grid-setup">
    <div >

    <a href="/" id="header-logo-link">
        <strong>
            <figure title="Logo">
                <svg viewBox="0 0 24 24">
                    <use href="#logo"></use>
                </svg>
                <figcaption class="sr-only">Logo</figcaption>
            </figure>

            <span>medcross</span>
        </strong>
    </a>

    <nav aria-labelledby="header-navigation">
        <strong id="header-navigation" class="sr-only">Header Navigation</strong>


        <ul>
            <li><a aria-current={path==="/" ? 'page' : 'false'} href="/">home</a></li>
            <li><a aria-current={path==="/archive/crossword/" ? 'page' : 'false'} href="/archive">archive</a></li>
            <li><a aria-current={path==="/you/" ? 'page' : 'false'} href="/you">you</a></li>
        </ul>
    </nav>

</div>


</header>

<style lang="scss">
header {
    --logo-size: 40px;
    grid-column: full;
    background: var(--clr-white);
    border-bottom-left-radius: var(--radius);
    
    #header-logo-link {
        color: var(--clr-grey-400);
        text-decoration: none;

        &:focus {
            outline: 2px dotted currentColor;
        }
    }


    & > div {
        grid-column: content;
        display: flex;
        gap: 0.85rem 0.5rem;
        flex-direction: column;
        align-items: start;
        justify-content:baseline;
        padding-block: 1.3rem 2rem;
        
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-block: 1.3rem;
        }
    }
    
    

}

header strong {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    
    
    
}

header strong span {
    display: flex;        
    font-size: var(--step-3);
    font-weight: 600;
    letter-spacing: -1.5px;
    
    @media (min-width: 768px) {
    }
}

// Logo CSS
header figure {
    --offset: 1.45rem;

    display: grid;
    grid-template-columns: [logo-start] 1fr [logo-end];
    grid-template-rows: [logo-start] 1fr [logo-end];

    svg {
        width: var(--logo-size);
        grid-area: logo;
        margin-block-start: calc(var(--factor, 0.2) * var(--offset));
        margin-inline-start: calc(var(--factor, 0.2) * var(--offset));
        fill: var(--clr, var(--clr-grey-400));

        &:nth-child(1) {
            --factor: 0.1;
            --clr: var(--clr-primary)
        }

        &:nth-child(2) {
            --factor: 0.15;
            --clr: var(--clr-secondary-light)
        }

        &:nth-child(3) {
            --factor: 0.25;
            --clr: var(--clr-accent)
        }


    }
}


#theme-toggle {
    --icon-size: 25px;
    --bg: var(--clr-background);
    --clr: var(--clr-accent);
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin-inline-start: auto;
    border-radius: 0.4rem;
    background: var(--bg);
    transition: background 100ms;

    &:hover {
        --bg: var(--clr-accent);
        --clr: var(--clr-background);
    }


    svg {
        inline-size: var(--icon-size);
        stroke: var(--clr);
    }

}






nav button {
    --height: 25px;
    --clr: var(--clr-grey-400);

    cursor: pointer;
    width: var(--height);
    aspect-ratio: 1;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background: none;
    border: none;
    grid-area: button;


    span[aria-hidden=true] {
        height: 4px;
        width: 100%;
        border-radius: 100vmax;
        background: var(--clr);
        transform-origin: right;
        transition: transform 200ms ease-out;
    }

    span[aria-hidden=true]:nth-child(3) {
        width: 70%;
    }


    &:hover {
        span[aria-hidden=true]:nth-child(2) {
            transform: rotate(-45deg) scaleX(1.27);
        }
        span[aria-hidden=true]:nth-child(3) {
            transform: scaleX(0);
        }
        span[aria-hidden=true]:nth-child(4) {
            transform: rotate(45deg) scaleX(1.27);
        }
    }

    @media(min-width:768px) {
        display: none;
    }
}



nav {
    align-items: center;

    &, ul {
        display: flex;
    }

    ul {
        list-style: none;
        flex-direction: row;
        gap: 0.75rem;
        // display: none;
    }


    a {
        text-decoration: none;
        color: var(--clr-grey-400);
        font-size: var(--step-1);
        font-weight: normal;
    }


    a[aria-current=page] {
        color: var(--clr-grey-400);
        font-weight: 700;
        text-decoration: underline;
        text-decoration-thickness: 5px;
    }


    @media (min-width: 768px) {
        
        ul {
            flex-direction: row;
            display: flex;
        }
    }

}
</style>
