<a href="#main">Skip To Content</a>

<style lang="scss">
    a {
        color: var(--clr-grey-400);
        background: var(--clr-white);
        position: fixed;
        inset: -100vmax auto auto -100vmax;
        padding: 0.5rem 0.95rem;
        border-bottom-right-radius: 0.5rem;
        text-decoration: none;
        box-shadow: var(--shadow-elevation-low);
        z-index: 10;
        
        &:focus {
            inset: 0 auto auto 0;
        }
    }
</style>
