---
import Card from "../components/archive/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import {getCollection, getEntry} from "astro:content";


const all = (await getCollection('crossword')).map(x => {

    const slug = x.slug;
    return {
        ...x.data,
        slug
    }



})



---


<BaseLayout title="Archive">

<section id="archive-page">
    <h1>Archive</h1>
    <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>

    <ul>
        {all.map(data => (<li> <Card data={data} />  </li>))}  
    </ul>

</section>


</BaseLayout>


<style lang="scss">
section#archive-page {
    display: grid;
    gap: 0.75rem;


    ul {
        display: grid;
        gap: 0.75rem 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        list-style: none;
        margin-top: 1rem;




        li {
            display: contents;
        }
    }

}
</style>
