---
import BaseLayout from "../layouts/BaseLayout.astro";
import Keyboard from "../components/crossword/Keyboard.svelte";
---


<BaseLayout title="Medcross | Crosswords for Medical Students And Professionals">


    <h1>Working On Keyboard...</h1>
    <div class="keyboard">
        <Keyboard client:only />
    </div>
    
    

</BaseLayout>
