---
import BaseLayout from "../layouts/BaseLayout.astro";
import Keyboard from "../components/crossword/Keyboard.svelte";
---


<BaseLayout title="Dev Page | Page to Experminaent and Play with new things">


    <h1>Working On Keyboard...</h1>
    
        <Keyboard client:only />
</BaseLayout>

<style lang="scss">
.keyboard {

}

</style>


