---
import MetaInformation from "../components/layout/MetaInformation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Bookmarks from "../components/you/Bookmarks.svelte";
import Tabs from "../components/you/Tabs.astro";
import Coins from "../components/you/Coins.svelte";

const metadata = {
	title: "About The User",
	description: "Find your bookmarks, and settings here!"
}
---


<BaseLayout title={metadata.title}>
	<Fragment slot="meta">
		<meta name="robots" content="noindex, nofollow" />
		<MetaInformation title={metadata.title} description={metadata.title} />
	</Fragment>

	<h1 id="settings-header">
		<span role="presentation">Settings</span>
	</h1>

	<strong class="coins-count">
		<span class="coin-number" id="coin-number" role="presentation">
			<svg role="presentation" viewBox="0 0 24 24"><use href="#coins"></use></svg>
			<span>*** coins</span>
		</span>
	</strong>


	<Tabs>
		<div class="loading-settings" slot="bookmarks">
			<strong class="bookmarks-loading-screen">Loading Bookmarks...</strong>
			<Bookmarks client:only />
		</div>
		<div class="loading-settings" slot="preferences">

			<strong>Work In Progress...</strong>




		</div>
	</Tabs>



	<!-- <figure>
		<img src="https://i.ibb.co/Hd8cvVW/image.png" alt="work in progress">
		<figcaption>Working On It...</figcaption>

	</figure> -->



	<Coins client:only />

	 

</BaseLayout>



<style lang="scss">
	h1 {
		--icon-size: 30px;
		display: flex;
		align-items: baseline;
		gap: 0.4rem;

		svg {
			color: var(--clr-grey-300);
			width: var(--icon-size);
			aspect-ratio: 1;
			animation: move 10s cubic-bezier(0, 0, 0, 1.77) infinite forwards;


			@keyframes move {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}


		}
	}

figure {
	
	
	margin-inline: auto;


	img {
	
		width: min(30rem, 100% - 2rem);
		margin-inline: auto;
		aspect-ratio: 16 / 10;
		height: 100%;
		background: var(--clr-white);
		box-shadow: 0 0 8px -3px hsl(var(--shadow-color) / 0.3);
	}



	figcaption {
		text-align: center;
		margin-top: 0.25rem;
	}
}

.coins-count {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: var(--step-1);
	font-weight: 400;
	margin-top: 0.5rem;
}


.coin-number {
	--icon-size: 30px;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	background: var(--clr-white);
	width: fit-content;
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius);
	font-weight: 700;
	font-size: var(--step-1);
	box-shadow: var(--shadow-elevation-low);


	& > svg {
		width: var(--icon-size);
		aspect-ratio: 1;
	}
}

.loading-settings {
	display: flex;
	& > strong {
		margin: 50px auto;
	}

	& > .loading {
		padding-block: 2rem;
	}
}

</style>
