---
import heroImg from "../../images/css.png";
---

<section id="hero" class="grid-setup">
    <h1>Crosswords for Medical Students And Professionals</h1>

    <figure>
        <img
            src={heroImg.src}
            alt="crossword examples"
            width="400"
            height="400"
        />
    </figure>
</section>

<style lang="scss">
    @property --hero-gradient-angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    #hero {
        grid-column: full;
        justify-items: center;
        gap: 4rem 0;
        padding-block: 1rem 3rem;
        isolation: isolate;

        h1 {
            // text-transform: uppercase;
            font-size: var(--step-6);
            line-height: 1.3;
            font-weight: 900;
            text-align: center;
            filter: drop-shadow(2px 2px 1px #5ebc5e);
            transform: rotate(-1deg);
            background: hsl(0deg 0% 100% / 0.7);
            padding: 1.5rem 2rem; 
        }

 

        figure {
            --clr-3: #3f464a;
            --clr-4: #779f77;
            --clr-5: #5ebc5e;
            // width: 2;
            width: min(300px, 80vw);
            aspect-ratio: 1;
            position: relative;
            border-radius: var(--radius);
            transform: rotate(2deg);

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: inherit;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                inset: -0.5rem;
                z-index: -1;
                background: conic-gradient(
                    from var(--hero-gradient-angle),
                    var(--clr-3),
                    var(--clr-4),
                    var(--clr-5),
                    var(--clr-4),
                    var(--clr-3)
                );
                border-radius: inherit;
                animation: rotation 20s linear infinite;
            }

            &::after {
                filter: blur(2.5rem);
            }

            @keyframes rotation {
                0% {
                    --hero-gradient-angle: 0deg;
                }
                100% {
                    --hero-gradient-angle: 360deg;
                }
            }
        }

        @media (min-width: 768px) {
            justify-items: start;
            h1,
            figure {
                grid-row: 1 / 2;
            }

            h1 {
                grid-column: content-start / left-end;
                align-self: center;
                max-width: 18ch;
                z-index: 4;
                text-align: left;
                // filter: drop-shadow(2px 2px 1px #3f464a);
                transform: rotate(-2deg);
            }

            figure {
                grid-column: content-start / content-end;
                justify-self: end;
                width: 350px;
                margin-block: 2rem;
            }
        }
    }
</style>
