<a href="#main">Skip To Content</a>

<style lang="scss">
    a {
        padding: 0.5rem 0.95rem;
        text-decoration: none;
        background: var(--clr-white);
        box-shadow: var(--shadow-elevation-inverse-low);
        color: var(--clr-grey-400);
        position: fixed;
        inset: -100vmax auto auto -100vmax;
        
        &:focus {
            inset: 0 auto auto 0;
        }
    }
</style>