    :root {
        --clr-black: hsl(0, 0%, 0%);
        --clr-white: hsl(0, 0%, 100%);
        --clr-grey-100: hsl(203, 8%, 9%);
        --clr-grey-200: hsl(203, 8%, 11%);
        --clr-grey-300: hsl(203, 8%, 19%);
        --clr-grey-400: hsl(203, 8%, 27%);
        --clr-grey-500: hsl(206, 8%, 60%);
        --clr-grey-600: hsl(206, 8%, 70%);
        --clr-grey-700: hsl(206, 8%, 80%);
        --clr-grey-800: hsl(206, 8%, 93%);
        --clr-grey-900: hsl(206, 8%, 99%);

        /* Background Gradient Stuff */
        --s: 84px;
        /* control the size*/
        --c1: #f2f2f2;
        --c2: #cdcbcc5c;
        --c3: #99999938;

        --_g: 0 120deg, #0000 0;



        --step--2: clamp(0.6075rem, 0.5962rem + 0.0565vw, 0.64rem);
        --step--1: clamp(0.7294rem, 0.7048rem + 0.1228vw, 0.8rem);
        --step-0: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
        --step-1: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
        --step-2: clamp(1.26rem, 1.1548rem + 0.5261vw, 1.5625rem);
        --step-3: clamp(1.05rem, 1.3584rem + 0.7674vw, 1.9531rem);
        --step-4: clamp(1.8144rem, 1.5963rem + 1.0902vw, 2.4413rem);
        --step-5: clamp(2.1775rem, 1.8734rem + 1.5207vw, 3.0519rem);

        font-family: 'Manrope';
        font-size: 16px;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;



        --shadow-color: 203deg 8% 27%;


        --shadow-elevation-low:
            0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
            0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
            1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
        --shadow-elevation-medium:
            0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
            0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
            2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
            5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
        --shadow-elevation-high:
            0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
            1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
            2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
            4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
            7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
            11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
            17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
            25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);

        --shadow-elevation-inverse-low:
            -0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
            -0.6px 0.8px 1.1px -1.2px hsl(var(--shadow-color) / 0.34),
            -1.6px 1.9px 2.8px -2.5px hsl(var(--shadow-color) / 0.34);
        --shadow-elevation-inverse-medium:
            -0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
            -1.3px 1.6px 2.3px -0.8px hsl(var(--shadow-color) / 0.36),
            -3.2px 4px 5.8px -1.7px hsl(var(--shadow-color) / 0.36),
            -7.8px 9.7px 14px -2.5px hsl(var(--shadow-color) / 0.36);
        --shadow-elevation-inverse-high:
            -0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
            -2.3px 2.8px 4.1px -0.4px hsl(var(--shadow-color) / 0.34),
            -4.3px 5.3px 7.7px -0.7px hsl(var(--shadow-color) / 0.34),
            -7px 8.6px 12.5px -1.1px hsl(var(--shadow-color) / 0.34),
            -11.2px 13.8px 20px -1.4px hsl(var(--shadow-color) / 0.34),
            -17.4px 21.6px 31.2px -1.8px hsl(var(--shadow-color) / 0.34),
            -26.5px 32.8px 47.4px -2.1px hsl(var(--shadow-color) / 0.34),
            -39px 48.3px 69.8px -2.5px hsl(var(--shadow-color) / 0.34);
    }


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: fit-content;
        font: inherit;
    }



    /* a11y */
    .sr-only {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        /* 1 */
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        /* 2 */
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }

    img,
    picture {
        max-width: 100%;
        display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 0.9;
    }

    h1 {
        letter-spacing: -1px;
        line-height: 1;
        font-weight: 600;
        font-size: var(--step-4);
    }

    h2 {
        font-size: var(--step-3);
        font-weight: 600;
    }

    button {
        cursor: pointer;
        color: inherit;
    }

    button:disabled {
        cursor: not-allowed;
        color: var(--clr-grey-700);
    }

    body {
        --offset: 1.25rem;
        padding-bottom: 2rem;
        background-color: var(--clr-grey-800);

        background-image:
            conic-gradient(from 0deg at calc(500%/6) calc(100%/3), var(--c3) var(--_g)),
            conic-gradient(from -120deg at calc(100%/6) calc(100%/3), var(--c2) var(--_g)),
            conic-gradient(from 120deg at calc(100%/3) calc(500%/6), var(--c1) var(--_g)),
            conic-gradient(from 120deg at calc(200%/3) calc(500%/6), var(--c1) var(--_g)),
            conic-gradient(from -180deg at calc(100%/3) 50%, var(--c2) 60deg, var(--c1) var(--_g)),
            conic-gradient(from 60deg at calc(200%/3) 50%, var(--c1) 60deg, var(--c3) var(--_g)),
            conic-gradient(from -60deg at 50% calc(100%/3), var(--c1) 120deg, var(--c2) 0 240deg, var(--c3) 0);
        background-size: calc(var(--s)*1.732) var(--s);


        color: var(--clr-grey-400);
        line-height: 1.5;
        font-weight: 500;


        display: grid;
        gap: 1rem 0;
        grid-template-columns:
            [full-start left-start] minmax(var(--offset), 1fr) [content-start right-start] minmax(auto, 60rem) [content-end left-end] minmax(var(--offset), 1fr) [full-end right-end];

    }


    body>* {
        grid-column: content;
    }

    ::selection {
        background: var(--clr-grey-200);
        color: var(--clr-white)
    }

    input[type=number]::-webkit-inner-spin-button {
        display: none;
    }

    input[type=number],
    select {
        appearance: none;
    }

    /* select: */

    input,
    select,
    button,
    textarea {
        min-width: 0;
        background-color: transparent;
        border: 2px solid var(--clr-grey-700);
        padding: 0.2rem 0.5rem;
    }

    textarea {
        resize: vertical;
        min-height: var(--height, min(40vh, 100px))
    }

    form .field {
        --_gap: var(--gap, 0.25rem 0.5rem);
        display: flex;
        flex-wrap: wrap;
        gap: var(--_gap);
    }
    
    form {
        --_gap: var(--gap, 1rem);
        display: grid;
        gap: var(--_gap);
    }

    form .button-bar {
        --_gap: var(--gap, 0.75rem);
        display: flex;
        flex-wrap: wrap;
        gap: var(--_gap);
    }


    dialog {
        --_gap: var(--gap, 0.75rem);
        --_width: var(--width, min(calc(100vw - 2.5rem), 30rem));
        --_padding: var(--padding, 0.5rem 1rem);

        display: none;
        gap: var(--_gap);
        position: fixed;
        inset: 5vh auto auto 50%;
        width: var(--_width);
        margin-inline: auto;
        padding: var(--_padding);
        border: none;
        transform: translateX(-50%);
        box-shadow:
            0 0 0 200vmax hsl(203 8% 27% / 0.6),
            var(--shadow-elevation-low);
            
    }

    dialog[open] {
        display: grid;
    }

    button {
        --_gap: var(--gap, 1.25rem);
        --_padding: var(--padding, 0.45rem 1.45rem);
        --_border: var(--border, none);
        --_clr: var(--clr, var(--clr-grey-400));
        --_bg: var(--bg, var(--clr-grey-900));

        display: flex;
        align-items: center;
        justify-items: center;
        gap: var(--_gap);
        color: var(--_clr);
        background-color: var(--_bg);

        padding: var(--_padding);
        border: var(--_border);
        width: fit-content;
    }


    small {
        font-size: var(--step--1);
    }


