---
import SkipLink from "../components/layout/SkipLink.astro";
import BaseHeader from "../components/layout/BaseHeader.astro";
import BaseFooter from "../components/layout/BaseFooter.astro";
import Assets from "../components/layout/Assets.astro";
import Toast from "../components/utilities/Toast.svelte";
import "../styles/main.scss"
import MetaInformation from "../components/layout/MetaInformation.astro";
import homePageImage from "../images/home-page.jpg"

const { title } = Astro.props.frontmatter || Astro.props 


const isProduction = (process.env.NODE_ENV || 'development') === 'production'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <slot name="meta">

        <MetaInformation 
            title={title} 
            description="Medcross - Crosswords for Medical Students And Professionals" 
            image={homePageImage.src}
            content="website" />

    </slot>

    <!-- Service Worker -->
    {isProduction && <script defer src="/registerSW.js"></script> }





    <!-- Database Script -->
    <script>
        import { getDb } from "../composables/db";
        import { slashify } from "../composables/utilities";
        window.getDb = async () => {
            if (!window.idb) {
                const db = await getDb()
                window.idb = db
            }

            return window.idb
        }

        window.getPathName = () => {
            return slashify(window.location.pathname);
        }
    </script>

    <script>
        console.log(`
┌┬┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌─┐┌─┐
│││├┤  │││  ├┬┘│ │└─┐└─┐
┴ ┴└─┘─┴┘└─┘┴└─└─┘└─┘└─┘

`)

    </script>

    <title>{ title }</title>
</head>
<body>
    <SkipLink />
    <BaseHeader />
    <main id="main">
        <slot />
        <Toast client:load />
    </main>

    <Assets />

    <BaseFooter />


    


</body>
</html>
