---
import SkipLink from "../components/SkipLink.astro";
import BaseHeader from "../components/BaseHeader.astro";
import Assets from "../components/Assets.astro";
import Toast from "../components/utilities/Toast.svelte";
import Router from "../components/utilities/Router.svelte";
import "../styles/main.scss"

const { title } = Astro.props.frontmatter || Astro.props 

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <slot name="meta">
        <meta name="description" content="A crossword App">
    </slot>

    <title>{ title }</title>
</head>
<body>
    <SkipLink />
    <BaseHeader />
    <main id="main">
        <slot>
    </main>
    <Assets />
    <Toast client:load />

    <Router client:only>
</body>
</html>